sudo: false
language: java

script:
  - '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && mvn verify deploy --settings maven_deploy_settings.xml || mvn test verify --settings maven_deploy_settings.xml'

jdk:
  - openjdk8

notifications:
  email:
    recipients:
      - phaneesh.n@gmail.com
